
  <div class="modal-wrapper" id="add-user-modal">
    <div class="modal">
      <a href="#" onclick="closeModal()" class="modal-close">+</a>
      <div class="modal-title">
        <h2>Create New User</h2>
      </div>
      <div class="modal-body">
        <form id="add-user-form">
          <input type="text" placeholder="enter name" name="name" />
          <p class="error name-error"></p>

          <input type="text" placeholder="enter email" name="email" />
          <p class="error email-error"></p>

          <input type="text" placeholder="enter mobile" name="mobile" />
          <p class="error mobile-error"></p>

          <input
            type="password"
            placeholder="enter password"
            name="password"
          />
          <p class="error password-error"></p>

          <input type="file" name="avatar" />
          <p class="error avatar-error"></p>

          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </div>
  <script>
    const modal = document.querySelector("#add-user-modal");
    const form = document.querySelector('#add-user-form');

    //success toast                   //ata sobar sese bosbe
    const successToast = Toastify({
        text:'User added successfully',
        duration:1000
    })


    function closeModal() {
      modal.style.display = "none";
      
      //form reset          aita ami nijei korlam

      //hide border red
      const inputEror = document.querySelectorAll('input.error');
      for(let q=0; q<inputEror.length; q++){
          inputEror[q].classList.remove('error')
      }

      //hiden p tag
      const tagPerror = document.querySelectorAll('p.error') 
      for(let p=0; p<tagPerror.length; p++){
        tagPerror[p].style.display = 'none'
      }

      //form reset 
      form.reset()

    }


    function openModal() {
      modal.style.display = "block";
    }

    //form handler
    form.onsubmit =async function(event){
        event.preventDefault();

        //first clear errors
        const errorPtagHide = document.querySelectorAll('p.error');
        for(let i=0; i<errorPtagHide.length; i++){
            errorPtagHide[i].style.display = 'none'
        }

        const inputErrors = document.querySelectorAll('input.error')

        for(let j=0; j<inputErrors.length; j++){
            inputErrors[j].classList.remove('error')
        }


        // prepare the form data
        const formData = new FormData(form)

        //send the request the server 
        const response = await fetch('/users',{
            method:'POST',
            body:formData
        })

        //get response
        const result = await response.json()

        // handle error and response
        if(result.errors){
            //errors
            Object.keys(result.errors).forEach(fieldName =>{
                // add 'error' class to all inputs 
                form[fieldName].classList.add('error')
                
                // set all error in p tag
                const ptagError = document.querySelector(`.${fieldName}-error`)
                ptagError.textContent = result.errors[fieldName].msg

                //make all p tag visible
                ptagError.style.display = 'block'

            })
        }else{
            //sucess 
            successToast.showToast();
            closeModal();
            document.querySelector('p.error').style.display = 'none'
            
            //reload page after 1 secound
            setTimeout(() =>{
                location.reload();
            },1000)
        }


    }


  </script>
</body>
</html>
